@page "/Features/HumanResources/ViewDepartments/Pages/ViewDepartmentsPage"

<PageTitle>Departments</PageTitle>

<div class="row"
    style="background:Gray; padding: 10px 0; border: 1px solid rgb(1, 18, 1); color: white; text-align: center;">
    <div class="col">
        <RadzenText Text="Viewing department list" TextStyle="TextStyle.H6" TextAlign="TextAlign.Start" class="rz-my-0">
        </RadzenText>
    </div>
</div>

<div class="row align-items-center"
    style="min-height: 200px; background:rgb(193, 149, 149); padding: 10px 0; border: 1px solid rgb(1, 18, 1); color: rgb(7, 0, 0);">
    <RadzenStack Orientation="Orientation.Horizontal">
        <div class="col-md-4" style="border: 1px solid rgb(1, 18, 1);">
            <RadzenText Text="One" TextStyle="TextStyle.H6" />
        </div>
        <div class="col-md-4" style="border: 1px solid rgb(1, 18, 1);">
            <RadzenText Text="two" TextStyle="TextStyle.H6" />
        </div>
        <div class="col-md-4" style="border: 1px solid rgb(1, 18, 1);">
            <RadzenText Text="Three" TextStyle="TextStyle.H6" />
        </div>
    </RadzenStack>
</div>